* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Main {
    background: slategrey;
    height: 100vh;
    border: 3px solid blue;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 66px;
}