.traffic-light {
    display: flex;
    flex-direction: column;
    background: #000;
    align-items: center;
    justify-content: center;
    padding: 7px;
    gap: 10px;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}

.red.active {
    background-color: red;
}

.yellow.active {
    background-color: yellow;
}

.green.active {
    background-color: green;
}

/* .traffic-light .red {
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.traffic-light .yellow {
    background-color: yellow;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.traffic-light .green {
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 20px;
} */